.body {
    background-color: gray;
    color: white;
}

.title {
    background-color: blue;
}
.main {
    background-color: blue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
